<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订单列表</title>
	<style type="text/css">
			table{margin: 0 auto;}
			td{width: 100px;text-align: center;}
			img{width: 100px;height: 40px}
			li{display: inline-block;border: 1px solid #ccc;padding: 10px;}
	</style>
	<title></title>
</head>
<body>
	<table border="1" cellpadding="0" cellspacing="0" align="center">
		<tr>
 				<td>已获奖品</td>
 				<td colspan="2">订单状态</td>
 		</tr>
 		<?php if($data){ ?>
 			<?php  foreach ($data as $key => $value) { ?>
 			<tr>
 				<td><?php echo $value['trophy_name']?></td>
 				<?php if($value['status']==1){ ?>
					<td>已发货</td>
					<td><a href="#">查看物流</a></td>
 				<?php } else {?>
 					<td>未发货</td>
 				<?php } ?>
 			</tr>
		<?php } ?>
 	<?php } else{ ?>
 		<td colspan="3">暂无记录！！！</td>
		<?php } ?>
	</table>
</body>
</html>